.announcement-header {
  height: 100%;
}

.announcement-card {
  max-width: 850px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 18px;
  padding: 40px 100px;
  margin: 100px auto 55px;

}

.announcement-card {
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.announcement-card {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.card-top-left {
  width: 50%;
  text-align: left;
}

.card-top-right {
  width: 50%;
  text-align: right;
}
.card-input {
  max-width: 280px;
  width: 100%;
  padding: 11px 15px;
  border: 0.2px solid #a5a5a5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #727272;
}
.card-input:focus {
  outline: none;
}

.card-input-cost {
  padding: 12px 15px;
}

.card-input-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: auto;
}
.card-input-img > span {
  width: 45%;
  text-align: left;
}
.card-input-img > input {
  width: 60%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* card-bottom */
textarea:focus{
    outline: none;
}

.about-home{
    margin-top: 30px;
  display: block;
  width: 100%;
  border: 0.2px solid #a5a5a5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding-left: 15px;
  height: 80px;

}
.additional{
     margin-top: 30px;
  display: block;
  width: 100%;
  border: 0.2px solid #a5a5a5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding-left: 15px;
  height: 100px;
}   
.announcement-btn{
    width: 100%;
    margin-top: 25px;
}
.announcement-btn>div>button{
    width: 200px;
}
.btn_1{
    width: 50%;
    display: inline-block;
    text-align: left;
}
.btn_2{
    width: 50%;
    display: inline-block;    
    text-align: right;
}