*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.detail-container{
    margin-top: 120px;
}
.detail-title{
    font-size: 40px;
    font-size: Gilroy;
    font-weight: 600;
    margin-bottom: 30px;
}
.detail-location-container{
    color: #A6A6A6;
    margin-bottom: 15px;
}
.detail-location-container span{
    margin-left: 10px;
}

.detail-main-section-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* column-gap: 50px; */
    margin-bottom: 50px;
}

.user-container{
    width: 350px;
    padding: 15px;
    box-shadow: 0px 0px 3.5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
}
.user-about-container{
    display: flex;
}
.detail-main-card{
    width: 85%;
    height: 100%;
    
}
.user-img{
    font-size: 50px;
}
.user-name{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
.renter{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 15px;
    font-weight: 500;
    color: #A6A6A6;
}
.renter-time{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 70px;
    font-weight: 500;
    color: #A6A6A6;
}
.renter-phone{
    margin: 0;
    padding: 0;
    text-align: end;
    font-weight: 500;
    color: #A6A6A6;
}

.detail-form{
    margin-top: 35px;
    width: 100%;
    text-align: center;
}
.detail-form input:not(:last-child){
     width: 100%;
     margin-bottom: 20px;
     padding: 8px 15px;
     border-radius: 10px;
     font-size: 18px;
     border:2px solid #A5A5A5;
}
.input-detail-message{
    height: 30vh;
    width: 100%;
    border:2px solid #A5A5A5;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 15px;
}
.input-detail-btn{
    width:100%;
    padding: 10px 15px;
    font-size: 18px;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid #007fff;
    background-color: #007fff;
    color: #fff;
    font-weight: 500;
    transition: 0.7s;
}
.input-detail-btn:hover{
    background-color: #fff;
    color: #007fff;
    border: 2px solid #007fff;
}
.input-detail-btn:active{
    opacity: 0.8;
}

.detail-about-content-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 140px;
}

.detail-images-container{
    /* display: flex;
    justify-content: space-between; */
}
.detail-about-images:not(:last-child){
    margin-right: 13px;
}
.detail-about-images{
    width: 150px;
    height: 150px;
}
.detail-date-text{
    color: #A6A6A6;
}
.price-container{
    padding-bottom: 10px;
    border-bottom: 2px solid #A6A6A6;
}
.detail-price{
    font-size: 30px;
    display: inline-block;
    margin: 0;
}
.detail-price p{
    font-size: 15px;
    margin: 0;
    display: inline-block;
}
.detail-location-card{
    width: 350px;
}