* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.input-location-container {
  background-color: #ddd;
}
.input-location-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.country-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  background-color: #fff;
  border-radius: 12px;
  margin: 20px;
  padding: 10px;
}
.country-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(141, 133, 133);
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #fff;
}
#country {
  border: none;
  margin-left: 15px;
  background-color: transparent;
}
.capital-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(141, 133, 133);
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #fff;
}
#capital {
  border: none;
  margin-left: 15px;
  background-color: transparent;
}
.to-search {
  border: 1px solid rgb(141, 133, 133);
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 10px;
}
.search-btn {
  border: none;
  padding: 8px 20px;
  background-color: #007fff;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #007fff;
}
.search-btn:hover {
  opacity: 0.6;
  border-radius: 10px;
  border: 1px solid #007fff;
}
.input-location-advertisement {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.advertisement-btn {
  
  background-color: transparent;
  padding: px 15px;
  color: #007fff;
  border: 1px solid #007fff;
}
